# Archivos de Maven
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
builddirectory/
dependency-info/
.idea/compiler.xml
.idea/encodings.xml
.idea/vcs.xml

# Archivos de IDE (IntelliJ) - ESENCIAL PARA PORTABILIDAD
.idea/
*.iml
out/